<% layout('layouts/boilerplate') %> 
<h1 class="text-center mb-4">All Places</h1>

<% for (let place of places)  { %>
    <div class="row text-center">
        <div class="col-6 offset-3">
            <div class="card mb-4" style="width: 40rem;">
                <img src="<%= place.image %> " class="card-img-top hover-overlay ripple" data-mdb-ripple-color="light"" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= place.location %> </h5>
                    <p class="card-text"><%= place.description %> </p>
                    <a href="/places/<%= place._id %>" class="btn btn-info">View More</a>
                </div>
            </div>
        </div>
    </div>
<% } %> 
  
