<% layout('layouts/boilerplate') %> 
    <form action="/places" method="POST">
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="place[location]">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="place[description]">
        </div>
        <button>Add Place</button>
        <a href="/places">Cancel</a>
    </form>
