<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/homep.css">
    <title>Places I Visited</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Places I Visited</h4>
        </div>

        <!-- <% if (!currentUser) { %> 
            <a class="nav-link"  href="/register">Register</a>
            <a class="nav-link" href="/login">Login</a>
          <% } else { %> 
            <a class="nav-link" href="/logout">Logout</a>
        <% } %>  -->
    

        <ul class="nav-links">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/places">All Places</a>
            </li>
            <li>
                <a class="nav-link" href="/places/new">Make New</a>
            </li>
            <% if (!currentUser) { %> 
                <li>
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
            <% } else { %> 
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

   
    <main class="container">
        <h1>Places I Visited</h1>
        <p class="lead">“Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s OK. The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on your heart, and on your body. You take something with you. Hopefully, you leave something good behind.”</p>
        <a href="/places" class="viewbtn">View All Places</a>
        
    </main>

    <script src="/javascripts/homep.js"></script>
</body>
</html>