.nav-link {
    font-weight: 600;
    border-bottom: 0.15rem solid transparent;
    font-family: 'Calligraffitti', cursive;
    /* font-family: 'Baloo Tammudu 2', cursive; */
}

.nav-link:hover {
    color: turquoise;
    border-bottom-color: turquoise;
}

.nav-link.active {
    color: turquoise;
    border-bottom-color: turquoise;
}