body{
    background-color: aliceblue;
}

.new-form, .edit-form, .form-label, .list-group-item {
    font-family: 'Bellota', cursive;
}

.card, .list-group-item {
    background-color: #bfd7ea;
}

/* #d8e2dc; */