body{
    /* background-color: #FBE0C3; */
    color: #FFFFFF8C;
}

.new-form, .edit-form, .form-label, .list-group-item {
    font-family: 'Bellota', cursive;
}

.card, .list-group-item {
    background-color: #C3CBD6;
    color: #344648;
}

.btn {
    background-color: whitesmoke;
    font-family: 'Calligraffitti', cursive;
}

.btn:hover{
    color: whitesmoke;
    background-color: #344648;
    /* background-color: ; */
}