<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/users.css">


<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <!-- offset-md-3 col-xl-4 offset-xl-4 -->
            <div class="card shadow mb-5">
               <h1 class="text-center mt-3">Register</h1>
                <form action="/register" method="POST" class="validated-form mx-5" novalidate>
                    <div class="mb-2">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" placeholder="johnd" required autofocus>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="John" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Doe" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="john.doe@gmail.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <!-- <div class="mb-2">
                        <label class="form-label" for="avatar">Image/Avatar URL</label>
                        <input class="form-control" type="text" id="avatar" name="avatar">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div> -->
                    
                    <div class="mb-2">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-5">
                        <label class="form-label" for="confpass">Confirm Password</label>
                        <input class="form-control" type="password" id="confpass" name="confpass" onblur="confirmPass()" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success mb-5 w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmPass() {
        const password = document.getElementById("password").value
        const confpass = document.getElementById("confpass").value
        if(password != confpass) {
            alert('Password Not Matching!');
        }
    }
</script>